@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@700&display=swap");
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Cuprum-Bold.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Cuprum-Bold-Cirillic.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F, U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active,
input:focus,
input:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
nav li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

.color-grey-green {
  background-color: #96b38e;
}

.color-orange {
  background-color: #f59073;
}

.color-purple {
  background-color: #913e5f;
}

.color-green {
  background-color: #4caf50;
}

.color-red {
  background-color: #eb4464;
}

.no-scroll {
  overflow: hidden;
}

header {
  background-color: #4caf50;
  position: relative;
}
header #header-text {
  width: calc(67vw - 55px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-class {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 56px;
}
.header-class.fix {
  position: fixed;
}
.header-class > span {
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#where > button,
.header-class > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 40px;
  padding: 3px 20px;
  background-color: inherit;
  font-size: 30px;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}
#where > button:active,
.header-class > button:active {
  -webkit-filter: blur(1.2px);
          filter: blur(1.2px);
}

.open-nav {
  width: 25px;
  z-index: 7;
  height: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 5px;
  cursor: pointer;
}
.open-nav::after, .open-nav::before, .open-nav > div {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: "";
  position: absolute;
  height: 3px;
  right: 0%;
  background-color: white;
}
.open-nav > div {
  width: 100%;
}
.open-nav::after {
  top: 10px;
  width: 120%;
}
.open-nav::before {
  bottom: 10px;
  width: 60%;
}
.open-nav.open div {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.open-nav.open::before {
  top: 50%;
  width: 110%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.open-nav.open::after {
  top: 50%;
  width: 110%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 7px 25px;
  right: 0%;
  position: absolute;
  gap: 7px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 98%;
}
nav.open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
@media (max-width: 400px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 20px;
  }
}
nav > li {
  width: 1fr;
  min-width: 100px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
nav > li:active {
  color: #bbb;
}
@media (max-width: 400px) {
  nav > li {
    width: 100%;
    font-size: 23px;
  }
}

#listEditor {
  margin-top: 5px;
  max-width: 100%;
  padding-bottom: 70px;
}
#listEditor .ElementsInEditor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 10px 10px 13px 0px;
  max-width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}
#listEditor .ElementsInEditor > span {
  cursor: pointer;
}
#listEditor .ElementsInEditor > .innerOfElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  max-width: 89%;
  color: inherit;
  border-end-end-radius: 20px;
  border-start-end-radius: 20px;
}
#listEditor .ElementsInEditor > .innerOfElement > .my-handle {
  width: 30px;
  min-width: 30px;
  max-width: 32px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
#listEditor .ElementsInEditor > .innerOfElement > .my-handle > span {
  margin: auto;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: black;
  display: inline-block;
}
#listEditor .ElementsInEditor > .innerOfElement > .my-handle > span::before,
#listEditor .ElementsInEditor > .innerOfElement > .my-handle > span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display: inline-block;
  background-color: black;
}
#listEditor .ElementsInEditor > .innerOfElement > .my-handle > span::before {
  top: -10px;
}
#listEditor .ElementsInEditor > .innerOfElement > .my-handle > span::after {
  bottom: -10px;
}
#listEditor .ElementsInEditor > .innerOfElement > .my-handle > .my-handle-inner {
  position: absolute;
  width: 80px;
  height: 35px;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: transparent;
}
#listEditor .ElementsInEditor > .innerOfElement > .my-handle > .my-handle-inner.active {
  width: 30px;
}
#listEditor .ElementsInEditor > .innerOfElement > .btn-in-element {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  gap: 3px;
}
#listEditor .ElementsInEditor > .innerOfElement > .btn-in-element.active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 8px;
}
#listEditor .ElementsInEditor > .innerOfElement > .btn-in-element.active ~ .elementText {
  left: 0;
}
#listEditor .ElementsInEditor > .innerOfElement > .elementText {
  color: inherit;
  position: relative;
  left: -25px;
  white-space: nowrap;
  overflow: hidden;
}
#listEditor .ElementsInEditor .EditParameterBtn {
  height: 25px;
  min-width: 24px;
  width: 25px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#listEditor .ElementsInEditor .EditParameterBtn > svg {
  max-width: 20px;
}
#listEditor .sortable-fallback {
  opacity: 0.2;
  background-color: black;
  border-radius: 8px;
}

.fab-btn {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  bottom: 50px;
  right: 50px;
  width: 56px;
  height: 56px;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  -webkit-box-shadow: 2px 2px 3px rgba(173, 173, 173, 0.6862745098);
          box-shadow: 2px 2px 3px rgba(173, 173, 173, 0.6862745098);
}
.fab-btn::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.fab-btn > span {
  font-size: 28px;
  color: white;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.fab-btn > .list {
  opacity: 0;
  position: absolute;
  bottom: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 10px;
  gap: 6px;
  pointer-events: none;
}
.fab-btn > .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fab-btn > .list li > span {
  background-color: #e1e1e1;
  border-radius: 6px;
  padding: 2px 4px;
  font-weight: 500;
}
.fab-btn > .list li .iconbutton {
  aspect-ratio: 1/1;
  width: 36px;
  height: 36px;
  -webkit-box-shadow: 1px 1px 3px #888;
          box-shadow: 1px 1px 3px #888;
  border-radius: 100%;
}
.fab-btn > .list li .iconbutton span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: white;
  font-size: 24px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.fab-btn > .list li .iconbutton:active {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.fab-btn > .list.options li > span {
  background-color: #ffffff;
}
.fab-btn .icon-fab {
  padding: 8px;
}
.fab-btn .icon-fab > svg {
  height: 100%;
}
.fab-btn.active > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.fab-btn.active > .list {
  opacity: 1;
  bottom: 65px;
  pointer-events: all;
}

body > .fab-btn {
  position: fixed;
}

.scene {
  z-index: 100;
  position: fixed;
  background-color: white;
  top: 100%;
  width: 100vw;
  -webkit-transition: top 0.2s linear;
  transition: top 0.2s linear;
  height: 100vh;
}
.scene#files-scene, .scene#pieces-scene {
  padding: 65px 16px 10px;
  z-index: 2;
  top: -100%;
  background-color: #4caf50;
}
.scene#addblocks {
  overflow-y: scroll;
  overflow-x: hidden;
}
.scene.active, .scene.active#files-scene, .scene.active#pieces-scene {
  top: 0;
  bottom: 0;
}

#listAddBlock {
  padding: 10px 15px;
}
#listAddBlock > li {
  height: 40px;
}
#listAddBlock > li span {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 500px) or (max-height: 470px) {
  #listAddBlock > li span {
    font-size: 16px;
  }
}

#where {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#where #inner-where {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 50px);
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media (max-width: 500px) or (max-height: 470px) {
  #where #inner-where {
    padding: 9px 15px;
  }
}
#where #inner-where .whereBtn {
  padding: 3px;
  border: none;
  outline: none;
  border-radius: 5px;
  max-width: 60px;
  min-width: 40px;
  background-color: #e3e3e3;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: pre;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#result {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 26vh;
  background-color: #191919;
  padding: 15px 10px;
  color: white;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
#result b {
  color: inherit;
  font-size: inherit;
  line-height: 14px;
  color: inherit;
  font-size: 20px;
  -webkit-animation: cursor 1.2s infinite;
          animation: cursor 1.2s infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#result span {
  color: inherit;
  font-size: inherit;
  overflow-wrap: break-word;
}
@media (max-height: 360px) {
  #result {
    height: auto;
  }
}
@media (max-width: 500px) or (max-height: 470px) {
  #result {
    height: 17vh;
  }
}

#copy-formula {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 4px;
  z-index: 10;
  background-color: rgba(25, 25, 25, 0.7490196078);
  border-bottom-left-radius: 4px;
}
#copy-formula div {
  height: 24px;
  width: 24px;
}
#copy-formula div svg {
  max-height: 100%;
}

#btns {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  width: 100vw;
  height: 60vh;
}
@media (max-height: 360px) {
  #btns {
    overflow-y: scroll;
  }
}
@media (max-width: 500px) or (max-height: 470px) {
  #btns {
    height: 64vh;
  }
}
#btns .mainBtn {
  padding: 5px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 5px;
  height: 60vh;
}
@media (max-width: 500px) or (max-height: 470px) {
  #btns .mainBtn {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 2px;
  }
}
@media (min-width: 850px) {
  #btns .mainBtn {
    width: 70%;
  }
}
#btns .mainBtn > button {
  min-width: 48px;
  height: 100%;
  max-width: 100%;
  padding: 4px 7px;
  font-size: 16px;
  border-radius: 17px;
  border: none;
  background-color: #191919;
  color: white;
  text-align: center;
  overflow: hidden;
  aspect-ratio: 1/1;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#btns .mainBtn > button:active {
  background-color: #888;
}
@media (max-width: 500px) or (max-height: 470px) {
  #btns .mainBtn > button {
    height: auto;
    min-width: 40px;
    border-radius: 13px;
  }
  #btns .mainBtn > button.big-text {
    font-size: 13px;
    padding: 2px;
  }
}
@media (max-height: 360px) {
  #btns .mainBtn > button {
    aspect-ratio: auto;
  }
}
#btns .formuls {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 60%;
  gap: 5px;
  max-height: 69vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
#btns .formuls .mainLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-radius: 17px;
  border: none;
  background-color: #191919;
  padding: 7px 0 3px;
}
#btns .formuls .mainLi > span {
  width: 100%;
  color: white;
  height: 100%;
  list-style: none;
  text-align: center;
  font-size: 16px;
}
#btns .formuls .mainLi .btn-delete {
  display: hidden;
}
#btns .formuls .mainLi.LiAfterTap {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#btns .formuls .mainLi.LiAfterTap > ul {
  pointer-events: auto;
  padding: 6px;
  opacity: 1;
  height: 100%;
}
#btns .formuls .mainLi.LiAfterTap > ul > li {
  min-height: 17px;
  margin-bottom: 4px;
  width: 100%;
  list-style: none;
  color: black;
  font-size: 15px;
  text-align: center;
}
#btns .formuls .mainLi.LiAfterTap > #dataList > li, #btns .formuls .mainLi.LiAfterTap > #functList > li {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
#btns .formuls .mainLi.LiAfterTap .btn-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#btns .formuls .mainLi > ul {
  pointer-events: none;
  background-color: #e0e5ec;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  margin-top: 15px;
  padding: 0;
  width: 100%;
  opacity: 0;
  height: 0;
}
#btns .formuls .mainLi > ul > li {
  font-size: 0px;
}
#btns .formuls .mainLi > #dataList > li,
#btns .formuls .mainLi > #functList > li {
  display: block;
}
#btns .formuls .mainLi > #dataList > li .nameOfvarieble,
#btns .formuls .mainLi > #functList > li .nameOfvarieble {
  padding-left: 4px;
  text-align: start;
  width: 100%;
  font-size: 14px;
}
#btns .formuls .mainLi .btn-delete {
  display: none;
}

#files-list,
#pieces-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#files-list .one-file,
#pieces-list .one-file {
  background-color: white;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  gap: 10px;
  border-radius: 15px;
  min-height: 70px;
  max-height: 120px;
  width: 100%;
}
#files-list .one-file .img-in-file,
#pieces-list .one-file .img-in-file {
  aspect-ratio: 1/1;
  border-radius: 10px;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  background-size: cover;
  min-width: calc(18vh - 10px);
  height: calc(100% - 10px);
  background-position: center;
  border: 1px solid #888;
  background-repeat: no-repeat;
  background-color: #4caf50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: radial-gradient(circle, rgba(121, 194, 155, 0.8547794118) 40%, rgb(91, 203, 96) 100%);
}
#files-list .one-file .img-in-file .music-switcher,
#pieces-list .one-file .img-in-file .music-switcher {
  width: 100%;
  height: 100%;
  padding: 4px;
}
#files-list .one-file .img-in-file .music-switcher svg,
#pieces-list .one-file .img-in-file .music-switcher svg {
  width: 100%;
  height: 100%;
}
#files-list .one-file .img-in-file .music-switcher svg.music-play,
#pieces-list .one-file .img-in-file .music-switcher svg.music-play {
  display: none;
}
#files-list .one-file .img-in-file .music-switcher.active svg,
#pieces-list .one-file .img-in-file .music-switcher.active svg {
  display: none;
}
#files-list .one-file .img-in-file .music-switcher.active svg.music-play,
#pieces-list .one-file .img-in-file .music-switcher.active svg.music-play {
  display: block;
}
#files-list .one-file .img-in-piece,
#pieces-list .one-file .img-in-piece {
  overflow: hidden;
  word-break: break-all;
  text-align: justify;
}
#files-list .one-file .img-in-piece > span,
#pieces-list .one-file .img-in-piece > span {
  word-break: break-all;
  color: #2e2e2e;
  text-align: justify;
  font-size: 10px;
  -webkit-transform: translate(-5%, -10%);
          transform: translate(-5%, -10%);
  width: 120%;
  display: block;
}
#files-list .one-file .text-in-file,
#pieces-list .one-file .text-in-file {
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  gap: 5px;
}
#files-list .one-file .text-in-file > h3,
#pieces-list .one-file .text-in-file > h3 {
  color: black;
  font-size: 25px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 30px;
  font-size: 22px;
  width: 100%;
}
#files-list .one-file .text-in-file button,
#pieces-list .one-file .text-in-file button {
  padding: 4px 7px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  background-color: #191919;
  color: #fff;
  text-align: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
#files-list .one-file .text-in-file button:hover,
#pieces-list .one-file .text-in-file button:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.btn-delete {
  min-width: 17px;
  width: 25px;
  height: 25px;
  background-color: #eb4464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}
.btn-delete .icon-delete-editor {
  max-width: 87%;
  max-height: 87%;
}
.btn-delete:hover {
  -webkit-filter: brightness(175%);
          filter: brightness(175%);
}
.btn-delete:active {
  -webkit-filter: brightness(175%);
          filter: brightness(175%);
  -webkit-box-shadow: 2px 2px 5px #888;
          box-shadow: 2px 2px 5px #888;
}

.input-text-conteiner {
  margin-top: 10px;
  position: relative;
  background: white;
  width: 95%;
}
.input-text-conteiner input {
  border: 0;
  border-bottom: 1px solid black;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 4px;
  font-size: 19px;
  color: black;
}
.input-text-conteiner input:invalid {
  border-bottom: 2px solid #eb4464;
}
.input-text-conteiner input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
.input-text-conteiner input:focus ~ label, .input-text-conteiner input:valid ~ label {
  top: -50%;
  font-size: 14px;
}
.input-text-conteiner label {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  font-size: 19px;
  color: gray;
  pointer-events: none;
  cursor: text;
  padding: 8px 0 5px 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input-checkbox-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
}
.input-checkbox-conteiner .input-checkbox {
  display: none;
}
.input-checkbox-conteiner .input-checkbox:checked ~ label .checkbox-bipolar:after {
  left: 18px;
  right: 2px;
}
.input-checkbox-conteiner .checkbox-bipolar {
  width: 36px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  display: inline-block;
  position: relative;
}
.input-checkbox-conteiner .checkbox-bipolar:after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 18px;
  border-radius: 8px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

dialog {
  border-radius: 17px;
  border: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 30vh;
  left: 50%;
  position: fixed;
  z-index: 100;
  width: 60vw;
  max-height: 70vh;
  overflow: hidden;
  padding: 8px 7px 10px;
  -webkit-transition: top 0.3s ease 0.2s;
  transition: top 0.3s ease 0.2s;
}
dialog::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.2);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.2);
}
dialog.show-modal {
  -webkit-animation-name: show-dialog;
          animation-name: show-dialog;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
dialog > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
dialog h1 {
  display: none;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}
dialog button {
  padding: 4px 7px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  background-color: #191919;
  color: #fff;
  text-align: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  width: 50%;
}
dialog button:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}
dialog #inner-modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  gap: 10px;
}

@-webkit-keyframes show-dialog {
  from {
    opacity: 0;
    top: 36vh;
  }
  to {
    opacity: 1;
    top: 30vh;
  }
}

@keyframes show-dialog {
  from {
    opacity: 0;
    top: 36vh;
  }
  to {
    opacity: 1;
    top: 30vh;
  }
}
@-webkit-keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}